name: Deploy to Production
on:
  push:
    branches:
      - main
  workflow_dispatch: null
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
                cd /home/bot/harrison-courts-bot
                git pull origin main
                npm install
                npm run build
                docker compose up -d --build bot-prod
                pm2 restart court-bot
